.flexy {
  display: flex;
}

.infoBox {
  position: relative;
  background: linear-gradient(to bottom, #ffffff, #d1d0cf);
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
}

.weatherInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  border-right: 6px solid #ffffff;
  flex: 30%;
}

.info-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: all ease-in-out 0.3s;

  & h4 {
    font-size: 2rem;
    transition: all ease-in-out 0.2s;
  }

  .tempdivider {
  }

  & p {
    font-size: 1.4rem;
    padding-right: 1rem;
    transition: all ease-in-out 0.2s;
  }

  &:not(:last-child) {
    border-bottom: 2px solid #ffffff;
  }

  &:hover {
    background-color: #007799;
  }

  &:hover h4 {
    font-size: 2.1rem;
  }
  &:hover p {
    font-size: 1.5rem;
  }

  &:hover .secondary-icon {
    width: 6rem;
    height: 6rem;
  }
}

.secondary-icon {
  padding-left: 0.5rem;
  width: 5.3rem;
  height: 5.3rem;
  transition: all ease-in-out 0.2s;
}
